{% extends 'base.html' %}

{% block sitetitle %}User Log-In{% endblock %}
{%block content%}
    <form method="post" class="login_form">
        <section class="form_section">
            <input type="email" name="email" placeholder="Tyle email..." required/>
        </section>

        <section class="form_section">
            <input type="password" name="password" placeholder="Enter password" />
        </section>

        <button type="btn_login">Log-in</button>
    </form>

    <div class="signup_div">
        <p>Don't have an account? <a herf="{{url_for('signup')}}">Sign-up</a> </p>
    </div>
{%endblock%}